node_modules
dist
build
logfile
reports

.gitlab-ci.yml
.nyc_output
.git/*
.DS_Store
.travis.yml
.npmrc
.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.haxt
.flowconfig
.firebaserc
.graphqlconfig
.editorconfig
.circleci

license
yarn.lock
Dockerfile.*
Dockerfile

_env*
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
